
#heading{
    text-align: center;
}
#heading1,#heading3{
    float: left;
    margin-left: 1300px; 
}
#heading2{
    float: left;
    margin-top: 4px;
}
.clear{
    clear: both;
}
.container{
    margin: 0 auto;
    border: 2px solid black;
    width: 80%;
    height: 100%;
    margin-top: 100px;
    background-color:blanchedalmond;
    color:saddlebrown;
}
.table{
    margin: 0 auto;
    width: 500px;
    height: 400px;
}
#tm,#mo,#grade{
    margin-left:100px;
}
td,th{
  padding:10px;
}