body{
background-image: url(Indieground_FoldedPaper_Textures_01.jpg);

}


.twen{
    background-color: black;
    border: 2px solid;
    border-radius: 6px;
    margin-top: 100px;
    margin-left: 850px;
    padding: 9px;
}
.twen a{
    color: white;
}
fieldset{
    margin-left: 600px;
    border: 3px solid;
}
table{
    margin-left: 1600px;
}
legend{
    text-align: center;
}
label{
    margin-left: 60px;
}
input{
    margin-left: 10px; ;
}
table{
    margin-left: 150px;
}
.wee{
    margin-left: 230px;
}
.rep{
    margin-left: 825px;
}
div{
    margin-left: 600px;
}



#A221{

    margin-left: 760px;

}


#fiel-d{

    width:600px

}